
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    .logo{
    display: flex;
    justify-content: space-between;
    margin: 24px;
    }
    
    .logo a{
        text-decoration: none;
    }
    
    .logo h3{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #6070FF;
        line-height: 29px;
    }
    
    .header-Page{
        background-size: 45%;
        margin: 84px 24px 24px 24px;
    }
    
    .header-Bg{
        background-image: url(images/header-bg.png);
        background-position: top left;
        background-repeat: no-repeat;
        background-size: auto;
        overflow: hidden;  
    }
    
    .header-Page h1{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 40px;
        color: #172B4D;
        line-height: 52px;
        margin: 24px 0px 24px 0px;
    }
    
    .header-Page p{
        margin: 24px 0px 24px 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #344563;
    }
    
    .socialMedia{
        width: 100%;
        margin: -5px;
    }
    
    .header-Page h6{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #7F8CFF;
    }
    
    .socialMedia{
        width: 100%;
        margin-top: 5px;
    }